/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nerko-one-regular {
    font-family: "Nerko One", 'cursive';
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    text-align: center;
    padding: 20px;
}


main {
    background-color: #f6f5f3;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.titles {
    padding: 20px;
    gap: 30px;
}

.jumbotron {
    max-width: 480px;

}

h2 {
    color: #4e3969;
}

.dolce-tradizionale {
    display: none;
}

.image-container {
    width: 80%;
}

.image {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;

}

.instructions-list {
    list-style-type: none;

}

.instructions {
    width: 20%;

    background-color: #ffffff;
    box-shadow: 30px 30px 60px #ffffff;
}


/* responsività tablet */

@media (min-width:768px) {

    .nerko-one-regular {
        font-size: 3rem;
        text-align: left;
    }

    .dolce-tradizionale {
        display: inline;
    }


}

/* responsività desktop */


@media (min-width:992px) {

    .nerko-one-regular {
        font-size: 4rem;

    }


    .dolce-tradizionale {
        display: inline;
    }

    .image-instructions {
        display: flex;
        padding-left: 0;
    }

    .instructions {
        margin-left: 0;
        padding-left: 0;
    }


}