/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: white;
    text-align: left;
}


.nerko-one-regular {
    font-family: "Nerko One", 'cursive';
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    text-align: center;
    padding: 20px;
}


main {
    background-color: #f6f5f3;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-optical-sizing: auto;
    background-color: #f6f5f3;
    font-style: normal;

}

.titles {

    gap: 30px;
}

.jumbotron {

    padding: 20px;
    width: 100%;

}

h2 {
    color: #4e3969;
}

.dolce-tradizionale {
    display: none;
}

.image-container {
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;


}

.instructions-list {
    list-style-type: none;

}

.instructions {
    width: 100%;
    padding-left: 10px;
    background-color: #ffffff;
    box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.1);
    gap: 20px;

}

.social-media {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.social-media-item {
    height: 25px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    align-items: center;

}

.banner {
    display: none;
}

.presentation {
    margin-top: 20px;
    padding-left: 15px;
}

hr {
    width: 100px;
    height: 3px;
    border: 0;
    background-color: #f7972e;
    margin-bottom: 30px;
    margin-left: 15px;
}

.text-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float {
    display: flex;
    justify-content: center;
}

.image-2 {
    max-width: 80%;
    padding-top: 20px;
}

.text-2 {
    padding: 15px;
    text-align: justify;

}

/* responsività tablet */

@media (min-width:768px) {

    .nerko-one-regular {
        font-size: 3rem;
        text-align: left;
    }

    .dolce-tradizionale.ok {
        display: inline;
    }

    .image-instructions .social-media-item {
        height: 20px;
        width: 100px;
        border-radius: 35px;
        box-shadow: 7px 0px 15px 0px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        text-align: center;

    }

    .social-media-item {
        width: 90px;
        height: 25px;
        border-radius: 35px;
    }

    .banner-section {
        width: 100%;
    }

    .banner {
        margin: 20px auto;
        display: block;
        width: 95%;


    }



    .text-2 {
        padding: 15px 50px;
        text-align: justify;
    }





    .text-image {
        max-width: 50%;
    }

    .image-2 {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;


    }

    .float {
        display: flex;
        width: 35%;
        float: left;
        margin-left: 40px;
    }





}

/* responsività desktop */


@media (min-width:992px) {

    body {
        padding-left: 180px;
        padding-right: 180px;
        background-color: #f6f5f3;
    }


    .nerko-one-regular {
        font-size: 4rem;

    }

    .image-container {
        width: 60%;
        max-height: 100%;
    }


    .dolce-tradizionale {
        display: inline;
    }


    .social-media-item {
        width: 120px;
        height: 25px;
        border-radius: 35px;
    }

    .image-instructions {
        display: flex;
        padding-left: 0;
    }

    .instructions {
        width: 40%;
        font-size: large;
        max-height: 100%;
    }

    .instructions-list {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h3 {
        padding-top: 12px;

    }


    .banner {
        margin: 20px auto;
        display: block;
        width: 97%;
        height: 80%;
    }



    .image-2 {
        width: 100%;
        height: 100%;

    }

    .image-2 {
        width: 100%;
        height: auto;

    }

    .text-image {
        text-align: left;
        width: 100%;

    }

    .float {

        display: block;
        float: left;
        justify-content: center;
        max-width: 190px;
        margin-left: 40px;



    }

}